# Copy to .env.staging.local for local staging deploys.
APP_REGION=us-west-1
AWS_REGION=us-west-1
HOSTED_ZONE_DOMAIN=matt-alison.com
FRONTEND_DOMAIN_NAME=staging.matt-alison.com
API_DOMAIN_NAME=api.staging.matt-alison.com
AUTH_DOMAIN_NAME=login.staging.matt-alison.com
ALLOWED_ORIGINS=https://staging.matt-alison.com
NOTIFICATION_SENDER_EMAIL=staging-rsvp@matt-alison.com
NOTIFICATION_RECIPIENT_EMAILS=admin@example.com
ENABLE_PASSKEYS=true
